extends layout

block content
  h1= title
  div.container
      div.row
        div#wallOfText.well.profile(style='padding: 10px; padding-left: 20px; height:400px; overflow:scroll;')
      div.row
        div.col-md-6
            div.btn-group
                button#button-rock.btn.btn-default.btn-lg(type='button', onclick="sendRock()") Rock
                button#button-paper.btn.btn-default.btn-lg(type='button', onclick="sendPaper()") Paper
                button#button-scissor.btn.btn-default.btn-lg(type='button', onclick="sendScissor()") Scissor
        div.col-md-6
            div.btn-group.pull-right
                button#button-newConnection.btn.btn-lg.btn-success(type='button', onclick="newConnection()") New Connection
                button#button-closeConnection.btn.btn-lg.btn-danger(type='button', onclick="closeConnection()") Close Connection



