doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

    title= title


  body
    block content
    script(src='/js/vendor/jquery-2.1.0.min.js')
    script(src='/js/vendor/bootstrap.min.js')
    script(src='/js/vendor/sockjs-0.3.min.js')
    script(src='/js/main.js')